name: Node.js CI

on:
  workflow_dispatch:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [10.x, 12.x, 14.x, 15.x]

    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm install
      - run: npm ci
      - run: npm run build --if-present
      - run: npm test
      - name: Upload output file
        uses: actions/upload-artifact@v3
        with:
          name: mochawesome-html
          path: /home/runner/work/Amit-nodejs/Amit-nodejs/reports/awesome-reports/mochawesome.html
      - name: upload jason output ile
        uses: actions/upload-artifact@v3
        with:
          name: mochawesome-json
          path: /home/runner/work/Amit-nodejs/Amit-nodejs/reports/awesome-reports/mochawesome.json
